h1{
   box-sizing: border-box;
   background-color: skyblue;
   font-family: fantasy;
 /* background-color: #3587A4;*/
  overflow: none;
  padding: 18px 50px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 999;

}
canvas{
	border: 1px solid black;
}

body {
  background: #EEE;
  margin: 0;
  padding: 0;

}
h3{
  box-sizing: border-box;
   background-color: skyblue;
 /* background-color: #3587A4;*/
  overflow: auto;
  font-family: sans-serif;
  padding: 10px 50px;
  position: center;
  top: 0;
  width: 25%;
  z-index: 999;
}

nav{

	padding-left: 200px;
	word-spacing: 100px;
}